/*index*/
body
{
width:100%;
margin:0px ;
padding:0px;
font-family:arial;
}
#headerbox
{
width:100%;
margin:0px;
float:left;
}
#header
{
width:100%;
margin:0px;
float:left;
text-align:center;
background-color:#006CB7;
}
#menu  a
{ 
text-decoration:none;
color:black;
padding-top:7px;
padding:5px;

}
#menu
{
width:100%;

margin:0px;
background-color:#E4E3E8;
}
#container
{
width:100%;
margin:0px;
padding:0px;
}
#content
{
width:100%;
margin:0px;
padding:0px;
float:left;
}
#matches
{
background-color:#454545;
font-size:16px;
width:100%;
margin:0px;
color:white;
padding:5px;
float:left;
}
#place
{
background-color:#454545;
font-size:14px;
width:100%;
margin:0px;
color:white;
padding:5px;
float:left;
}
#time
{
background-color:#454545;
font-size:14px;
width:100%;
margin:0px;
color:white;
padding:5px;
float:left;
}
#refresh
{
background-color:#454545;
font-size:14px;
width:100%;
margin:0px;
padding:5px;
float:left;
}

#refresh a
{
text-decoration:none;
color:white;
}

#reasult
{
background-color:#006CB7;

width:100%;
margin:0px;
color:white;
padding:5px;
float:left;
}
#reasult1
{
font-size:14px;
width:100%;
margin:0px;
color:black;
padding:5px;
float:left;
}
#points
{
background-color:#006CB7;
width:100%;
margin:0px;
color:white;
padding:5px;
float:left;
}
#table
{
width:100%;
margin:0px;
padding:5px;
float:left;
}
#inst
{
width:100%;
font-size:14px;
margin:0px;
color:grey;
padding:5px;
float:left;
}
#inst1
{
width:100%;
font-size:14px;
margin:0px;
padding:5px;
float:left;
}
#logo1
{
font-size:14px;
width:100%;
margin:0px;
padding:5px;
background-color:white;
float:left;
}
#announced
{
width:100%;
font-size:14px;
margin:0px;
padding:5px;
float:left;
}
#news
{
width:100%;
margin:0px;
font-size:14px;
padding:5px;
float:left;
}
td
{
font-size:12px;
}
#footer
{
float:left;
background-color:#454545;
width:100%;
}
#foot
{
width:100%;

margin:0px;
padding:5px;
float:left;
background-color:#454545;
color:white;

}
#foot  a
{ 
text-decoration:none;
color:white;
}
hr
{
opacity:0.5;
}


/*schedule*/



#schedule
{
float:left;
width:100%;
}
#sch
{
font-size:14px;
width:100%;
margin:0px;
padding:7px;
float:left;
}


/*res*/


#res
{
float:left;
width:100%;
}
#res1
{
font-size:16px;
color:white;
width:100%;
margin:0px;
padding:7px;
float:left;
background-color:#006CB7;
}
#res2
{
font-size:14px;
width:100%;
margin:0px;
padding:7px;
float:left;
}
/*news*/
#impnews
{
float:left;
width:100%;
}
#impnews1
{
font-size:14px;
width:100%;
margin:0px;
padding:7px;
float:left;
}
#impnews1 a
{
text-decoration:none;
color:#006CB7;
}
/*bccinews*/
#bccinews
{
float:left;
width:100%;
}
#bccinews1
{
font-size:14px;
width:100%;
margin:0px;
padding:5px;
float:left;
}
#bccinews2
{
font-size:12px;
width:100%;
margin:0px;
padding:5px;
float:left;
}
#bccinews2 p
{
width:100%;
float:left;
margin:0px;
padding:5px;
}
/*stats*/
#stats
{
float:left;
width:100%;
}
#stats1
{
font-size:16px;
width:100%;
margin:0px;
padding:5px;
float:left;
background-color:#006CB7;
color:white;
}
#stats2
{
font-size:14px;
width:100%;
margin:0px;
padding:5px;
float:left;
}
#stats2 a
{
text-decoration:none;
}
#stats3
{
font-size:14px;
width:100%;
margin:0px;
padding:5px;
float:left;
}
/*venue*/
#venue
{
float:left;
width:100%;
}
#venue1
{
font-size:16px;
width:100%;
margin:0px;
padding:5px;
float:left;
background-color:#006CB7;
color:white;
}
#venue2
{
font-size:14px;
width:100%;
margin:0px;
padding:5px;
float:left;
}
#venue2 a
{
text-decoration:none;
color:#006CB7;
}
/*about*/
#about
{
float:left;
width:100%;
}
#about1
{
font-size:16px;
width:100%;
margin:0px;
padding:5px;
float:left;
background-color:#006CB7;
color:white;
}
#about2
{
font-size:14px;
width:100%;
margin:0px;
padding:5px;
float:left;
}
/*teams*/
#teams
{
width:100%;
background-color:#E4E3E8;
margin:0px;
float:left;
}
#teams ul 
{
width:100%;
margin:0px;
padding:0px 0px 0px 2px;
}
#teams h3
{
background-color:#006CB7;
color:white;
padding:1px 0px 0px 5px;
margin:0px;
FONT-WEIGHT:normal;
}
#teams ul li
{
display:inline;
list-style:none;
padding:0px 5px 0px 5px;
border-right:1px solid;
}
#teams a
{
text-decoration:none;
color:black
}
#teams ol li
{
font-size:13px;
}
#teams1
{
font-size:16px;
width:100%;
margin:0px;
padding:5px;
float:left;
background-color:#006CB7;
color:white;
}
#teams2
{
font-size:14px;
width:100%;
margin:0px;
padding:5px;
float:left;
}
#teams3
{
font-size:14px;
width:100%;
margin:0px;
padding:5px;
float:left;
background-color:#E4E3E8;
text-align:center;
}
#teams3 a
{
text-decoration:none;
}